<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/indexStyle.css">
        <title>IntelliByte</title>
    </head>
    <body>
        <section>
            <div class="circle"></div>
            <header>
                <a href="#"><img class="intellibyte_Logo"
                        src="../img/IntelliByte_Logo.png"
                        alt="intellibyte_Logo"></a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="../layouts/logIn.html">Log In</a></li>
                    <li><a href="../layouts/searchUsers.html">Search User</a></li>
                    <li><a href="../layouts/listUsers.html">List Users</a></li>
                </ul>
            </header>
            <div class = "content">
                <div class="textBox">
                    <h2>Be <span>Smart</span>, be your own <span>Code</span></h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Curabitur finibus risus ut felis imperdiet facilisis.
                        Vestibulum consequat nibh dui, vitae sagittis lectus egestas quis.
                    </p>
                    <a href="#">Learn More</a>
                </div>
                <div class="imgBox">
                    <img src="../img/IntelliByte_Logo.png" alt="intellibyte_Logo" class="intellibyte">
                </div>
            </div>
        </section>
        <footer>
            <div class="contactBox">
                <ul>
                    <li><a href="https://www.instagram.com/intellibyte/"><img class="sIcon" src="../img/instagram.png"></a></li>
                    <li><a href="#"><img class="sIcon" src="../img/twitter.png"></a></li>
                    <li><a href="#"><img class="sIcon" src="../img/facebook-app-symbol.png"></a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>