<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/logInStyle.css">
    <title>Log In</title>
</head>
<body>
    <div></div>
    <section>
        <header>
                <a href="#"><img class="intellibyte_Logo"
                    src="../img/IntelliByte_Logo.png"
                    alt="intellibyte_Logo"></a>
            <ul>
                <li><a href="../layouts/index.html">Home</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="../layouts/searchUsers.html">Search User</a></li>
                <li><a href="../layouts/listUsers.html">List Users</a></li>
            </ul>
        </header>
        <div class="imgBox">
            <a href="#"><img src="../img/artificial-intelligence.png"></a>
        </div>
        <div class="joinText">
            <h2>Join or Sign In</h2>
            <pre>
    Register for your free IntelliNet
 membership or if you are already a member,
 sign in using your preferred method below.
            </pre>
        </div>
        <div>

            <form class="loginForm">
                <img src="../img/IntelliByte_Logo.png" alt="">
                <div>
                    <label for="inName">User Name:</label><br>
                    <input id="inName" type="text"><br>
                </div>
                <div>
                    <label for="inEMail">E-Mail:</label><br>
                    <input id="inEMail" type="email"><br>
                </div>
                <div>
                    <label for="inPassword">Password:</label><br>
                    <input id="inEMail" type="password"><br>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="contactBox">
            <ul>
                <li><a href="https://www.instagram.com/intellibyte/"><img class="sIcon" src="../img/instagram.png"></a></li>
                <li><a href="#"><img class="sIcon" src="../img/twitter.png"></a></li>
                <li><a href="#"><img class="sIcon" src="../img/facebook.png"></a></li>
                <li><a href="#"><img class="sIcon" src="../img/youtube.png"></a></li>
                <li><a href="#"><img class="sIcon" src="../img/linkedin.png"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>