<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/searchUsers.css">
    <title>Log In</title>
</head>
<body>
    <section>
        <header>
                <a href="#"><img class="intellibyte_Logo"
                    src="../img/IntelliByte_Logo.png"
                    alt="intellibyte_Logo"></a>
            <ul>
                <li><a href="../layouts/index.html">Home</a></li>
                <li><a href="../layouts/logIn.html">Log In</a></li>
                <li><a href="#">Search User</a></li>
                <li><a href="../layouts/listUsers.html">List Users</a></li>
            </ul>
        </header>
    </section>
</body>
</html>