@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .intellibyte_Logo {
    position: relative;
    max-width: 100px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
    display: inline-block;
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 100;
    font-size: 16px;
    margin-left: 40px;
    text-decoration: none;
}

.imgBox img{
    max-width: 200px;
}

.joinText h2{
    font-size: xx-large;
    padding-left: 100px;
    padding-bottom: 20px;
    color: #00ADB5;
}

.joinText pre{
    font-size: larger;
}

.loginForm{
    background-color: #00ADB5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.loginForm img{
    max-width: 200px;
}

/*Start Footer*/
footer{
    height: 150px;
    padding-right:30px ;
    background-color: #00ADB5;
}

footer ul{
    padding: 30px;
}

footer ul li {
    list-style: none;
    display: inline-block;
}

footer div ul .sIcon{
    margin: 5px;
    max-width: 30px;
}