<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Fonts + Material Icons-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Inter:wght@300&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <!--Style sheet-->
        <link rel="stylesheet" href="../styles/style.css">
        <!--icon-->
        <link rel="icon" href="../img/IntelliByteLogo.png">
        <title>Intellibyte - Our Family</title>
    </head>
    <body>
        <header>
            <a href="#"><img class="brandLetter" src="../img/brand_letter.png"
                    alt="brand letter"></a>
            <nav class="navLinks">
                <ul>
                    <li><a href="/layouts/index.html">Home</a></li>
                    <li><a href="#">List Users</a></li>
                    <a href="/layouts/logIn.html"><button class="joinBtn">Join Us</button></a>
                </ul>
            </nav>
        </header>

        <section>
            <div class="datatable-container">
                <div class="header-tools">
                    <div class="tools">
                        <ul>
                            <li><span><input type="checkbox"></span></li>
                            <li>
                                <button>
                                    <i class="material-icons">add_circle</i>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <i class="material-icons">edit</i>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <i class="material-icons">delete</i>
                                </button>
                            </li>
                            <li>
                                <button>
                                    <i class="material-icons">share</i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="search">
                        <input type="text" name="" id="" class="search-input">
                    </div>
                </div>
                <table class="datatable">
                    <thead>
                        <th></th>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="available"></span></td>
                            <td>Paul Torres</td>
                            <td>CEO</td>
                            <td>Bancouver</td>
                            <td>21</td>
                            <td>01/05/20</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="offline"></span></td>
                            <td>Marcos Rivas</td>
                            <td>CIO</td>
                            <td>Florida</td>
                            <td>29</td>
                            <td>01/07/20</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="offline"></span></td>
                            <td>Lena Sanchez</td>
                            <td>CMO</td>
                            <td>Mexico</td>
                            <td>25</td>
                            <td>01/05/20</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="available"></span></td>
                            <td>Paul Torres</td>
                            <td>CEO</td>
                            <td>Bancouver</td>
                            <td>21</td>
                            <td>01/05/20</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="available"></span></td>
                            <td>Sergio Corona</td>
                            <td>Subdirector TI</td>
                            <td>San Francisco</td>
                            <td>28</td>
                            <td>01/05/20</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="away"></span></td>
                            <td>Johan Perez</td>
                            <td>HR Director</td>
                            <td>Sevilla</td>
                            <td>28</td>
                            <td>01/05/20</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="available"></span></td>
                            <td>Catalina Creel</td>
                            <td>CMO</td>
                            <td>Seattle</td>
                            <td>42</td>
                            <td>03/06/19</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="away"></span></td>
                            <td>Raul Lara</td>
                            <td>CMO</td>
                            <td>Sevilla</td>
                            <td>30</td>
                            <td>06/10/21</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="available"></span></td>
                            <td>Paul Torres</td>
                            <td>CEO</td>
                            <td>Bancouver</td>
                            <td>21</td>
                            <td>01/05/20</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="offline"></span></td>
                            <td>Paul Torres</td>
                            <td>CEO</td>
                            <td>Bancouver</td>
                            <td>21</td>
                            <td>01/05/20</td>
                        </tr>
                        <tr>
                            <td class="table-checkbox"><input type="checkbox"
                                    name="" id=""></td>
                            <td><span class="available"></span></td>
                            <td>Paul Torres</td>
                            <td>CEO</td>
                            <td>Bancouver</td>
                            <td>21</td>
                            <td>01/05/20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <footer class="footer">
            <div class="group1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../img/brand_letter.png">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Quos, accusantium?</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Quos, accusantium?</p>
                </div>
                <div class="box">
                    <h2>Follow Us</h2>
                    <div class="social">
                        <a href="https://www.instagram.com/intellibyte/"
                            class="snIcon"><img src="../img/instagram.png"
                                alt="Instagram"></a>
                        <a href="#" class="snIcon"><img
                                src="../img/facebook.png" alt="facebook"></a>
                        <a href="#" class="snIcon"><img src="../img/twitter.png"
                                alt="Twitter"></a>
                        <a href="#" class="snIcon"><img
                                src="../img/linkedin.png" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>
            <div class="group2">
                <small>&copy; 2022 <b>IntelliByte</b> - All Right Reserved</small>
            </div>
        </footer>
    </body>
</html>