<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Fonts-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link
         href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Inter:wght@300&display=swap"
         rel="stylesheet">
    <!--Stylesheets-->
    <link rel="stylesheet" href="../styles/style.css">
    <!--Icon-->
    <link rel="icon" href="../img/IntelliByteLogo.png">
    <title>IntelliByte - Log In</title>
</head>
<body>
    <header>
        <a href="#"><img class="brandLetter" src="../img/brand_letter.png" alt="brand letter"></a>
        <nav class="navLinks">
                <ul>
                    <li><a href="/layouts/index.html">Home</a></li>
                    <li><a href="/layouts/listUsers.html">List Users</a></li>
                    <a class="joinBtn" href="#"><button>Join Us</button></a>
                </ul>
        </nav>
    </header>
    <section class="loginForm">
        <div>
            <h4>Log In Form</h4>
        </div>
        <div class="imgContainer">
            <img class="imgForm" src="../img/formImg.png">
        </div>
        <div class="inputBox">
            <input class="controls" type="text" name="names" id="names" placeholder="Insert your Name">
            <input class="controls" type="text" name="lastNames" id="lastNames" placeholder="Insert your Last Name">
            <input class="controls" type="email" name="email" id="email" placeholder="Insert your E-Mail">
            <input class="controls" type="password" name="password" id="password" placeholder="Insert your Password">
        </div>
        <div class="textBox">
            <p>I accept the <a href="#">Terms and Conditions</a></p>
            <input class="botons" type="submit" value="Log In">
            <p><a href=""></a>I have an account</p>
        </div>
    </section>

    <footer class="footer">
        <div class="group1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../img/brand_letter.png">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, accusantium?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, accusantium?</p>
            </div>
            <div class="box">
                <h2>Follow Us</h2>
                <div class="social">
                    <a href="https://www.instagram.com/intellibyte/" class="snIcon"><img src="../img/instagram.png" alt="Instagram"></a>
                    <a href="#" class="snIcon"><img src="../img/facebook.png" alt="facebook"></a>
                    <a href="#" class="snIcon"><img src="../img/twitter.png" alt="Twitter"></a>
                    <a href="#" class="snIcon"><img src="../img/linkedin.png" alt="LinkedIn"></a>
                </div>
            </div>
        </div>
        <div class="group2">
            <small>&copy; 2022 <b>IntelliByte</b> - All Right Reserved</small>
        </div>
    </footer>
</body>
</html>