/*font*/
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
}

body{
    background-color: #f3f3f3;
}

header ul{
    background-color: #101317;
}

header li, header a, button{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f3f3f3;
    text-decoration: none;
    background-color: #101317;
}

li{
    list-style: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #101317;
  max-width: 100%;
}

.brandLetter{
    cursor: pointer;
    margin-right: auto;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a{
    transition: all 0.3 ease-in-out 0s;
}

.navLinks li a:hover{
    color: #00ADB5;
}


.joinBtn{
    margin-left: 10px;
    padding: 9px 25px;
    background-color: #00ADB5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3 ease-in-out 0s;
}
 
button:hover{
    background-color: #f3f3f3;
    color: #101317;
}

/*First Section*/
section{
    height: 600px;
    background-color: #f3f3f3;
}

.content {
    position: relative;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #101317;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: #00ADB5;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p{
    color: #101317;
    font-family: 'Inter', sans-serif;
}

.content .imgBox img{
    width: 500px;
}

/*Form*/
.loginForm{
    width: 400px;
    height: 750px;
    background-color:#303841 ;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    color: #f3f3f3;
    box-shadow: 7px 13px 37px #000;
}

.loginForm h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 100%;
    background-color: #303841;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #101317;
    color: #f3f3f3;
}

.loginForm p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.loginForm a{
    color: #f3f3f3;
    text-decoration: none;
}

.loginForm a:hover{
    color: #f3f3f3;
    text-decoration: underline;
}

.loginForm .imgContainer{
    padding-left:35px;
}

.loginForm .imgForm{
    width: 270px;
}

.loginForm .botons{
    width: 100%;
    background-color: #00ADB5;
    border: none;
    padding: 12px;
    color: #f3f3f3;
    margin: 16px 0;
    font-size: 16px;
}

/*Table*/
:root{
    --primary-color: #f3f3f3;
    --secondary-color: #303841;
    --highlight-color: #00ADB5;

    --dt-status-available-color: greenyellow;
    --dt-status-away-color: lightsalmon;
    --dt-status-offline-color: lightgray;

    --dt-padding: 12px;
    --dt-padding-s: 6px;
    --dt-padding-xs: 2px;

    --dt-border-radius: 3px;

    --dt-background-color-container: #101317;
    --dt-border-color:var(--secondary-color);
    --dt-bg-color: var(--highlight-color);
    --dt-text-color: var(--primary-color);
    --dt-bg-active-button: var(--highlight-color);
    --dt-text-color-button: var(--primary-color);
    --dt-text-color-active-button: var(--primary-color);
    --dt-hover-cell-color:var(--highlight-color);
    --dt-even-row-color:var(--secondary-color);
    --dt-focus-color: var(--highlight-color);
    --dt-input-background-color:var(--secondary-color);
    --dt-input-color:var(--primary-color);
}

.material-icons{
    font-size: 16px;
}

.datatable-container{
    font-family: 'Inter', sans-serif;
    background-color: var(--dt-background-color-container);
    border-radius: var(--dt-border-radius);
    color: var(--dt-text-color);
    width: 600px;
    margin: 0 auto;
    font-size: 12px;
    margin-top: 50px;
}

.datatable-container .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}

.datatable-container .header-tools .search .search-input{
    width: 100%;
    background-color: var(--dt-input-background-color);
    display: block;
    box-sizing: border-box;
    border-radius: var(--dt-border-radius);
    border: solid 1px var(--dt-border-color);
    color: var(--dt-input-color);
}

.datatable-container .header-tools .tools{
    width: 70%;
}

.datatable-container .header-tools .tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.datatable-container .header-tools .tools ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xs);
    align-items: baseline;
}

.datatable-container .header-tools .pages ul li{
    font-family: 'Inter', sans-serif;
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: var(--dt-border-radius);
    background: transparent;
    cursor: pointer;
}

.datatable-container .header-tools .pages ul li:hover{
    background:var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}

.datatable-container .header-tools .tools ul li button{
    padding: var(--dt-padding-s) var(--dt-padding);
    border: none;
}

.datatable-container .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}

.datatable-container .datatable tbody tr:nth-child(even){
    background-color: var(--dt-even-row-color);
}

.datatable-container .datatable tbody tr:hover{
    background-color: var(--dt-hover-cell-color);
}

.datatable-container .datatable tbody tr .available::after,
.datatable-container .datatable tbody tr .away::after,
.datatable-container .datatable tbody tr .offline::after{
    display: inline-block;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::after{
    content: 'On Line';
    color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .away::after{
    content: 'Away';
    color: var(--dt-status-away-color);
}

.datatable-container .datatable tbody tr .offline::after{
    content: 'OffLine';
    color: var(--dt-status-offline-color);
}

.datatable-container .datatable tbody tr .available::before,
.datatable-container .datatable tbody tr .away::before,
.datatable-container .datatable tbody tr .offline::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.datatable-container .datatable tbody tr .available::before{
    background-color: var(--dt-status-available-color);
}

.datatable-container .datatable tbody tr .away::before{
    background-color: var(--dt-status-away-color);
}

.datatable-container .datatable tbody .offline::before{
    background-color: var(--dt-status-offline-color);
}

/*Start Footer*/
.footer{
    width: 100%;
    background-color: #101317;
}

.footer .group1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .group1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .group1 .box figure img{
    width: 300px;
}

.footer .group1 .box h2{
    color: #f3f3f3;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Anonymous Pro', monospace;
}

.footer .group1 .box p{
    color: #f3f3f3;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.footer .group1 .box .social a{
display: inline-block;
text-decoration: none;
line-height: 45px;
margin-right:10px ;
border-radius: 50px;
transition: all 300ms ease;
}

.footer .group1 .box .social .snIcon img{
    width: 50px;
}

.footer .group2{
    background-color: #303841;
    padding: 15px 10px;
    text-align: center;
    color: #f3f3f3;
}

.footer .group2 small{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

@media screen and(max-width: 800px){
    .footer .group1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
}